.Footer {
    width: 100%;
    height: 50vh;
    background-color: gray;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    align-items: center; /* ตำแหน่งตรงกลางในแนวนอน */
    justify-content: center; /* ตำแหน่งตรงกลางในแนวตั้ง */
    text-align: center; /* จัดเนื้อหากลางทั้งแนวนอนและแนวตั้ง */
}

.Footer > .site-footer {
    max-width: 1500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.site-footer img {
    width: 35px;
}