:root {
    --orange: #FF6B35;
    --yellow: #F3D708;
    --black: #000000;
}
/* //////////////////////////////////////----------container-page-payment----------////////////////////////////////////// */
.container-page-payment {
    width: 100%;
    height: 100vh;
    background-color: var(--orange);
}


/* //////////////////////////////////////----------container-upload----------////////////////////////////////////// */

.container-page-payment .container-upload {
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    /* background-color: cornflowerblue; */
}