@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 14px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FF6B35;
    --yellow: #F3D708;
    --black: #000000;
}

.site-nav img {
    width: 35px;
}


.site-nav {
    padding: 0;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 15px 20px;
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.site-nav .logo {
    margin: auto 0;
    padding: auto;
    cursor: pointer;
    white-space: nowrap; /* ป้องกันขึ้นบรรทัดใหม่ */
}

.site-nav .logo img{
    background: black;
    width: 50px;
}

.site-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
    padding: 8px 15px;
}

.site-nav li {
    margin-right: 20px;
    margin-left: 20px;
}

.site-nav li a{
    text-decoration: none;
    position: relative;
    color: #000000;
}

.site-nav li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: 0.8s;
}

.site-nav li a:hover::before{
    width: 100%;
}

/* ---------------------------------------------USER--------------------------------------------------- */
.site-nav .user {
    /* height: 35px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
    white-space: nowrap; /* ป้องกันขึ้นบรรทัดใหม่ */
}

.site-nav .user .site-basket {
    margin-left: 25px;
}

.site-nav .account-img {
    width: 35px;
}
/* ---------------------------------------------FORM--------------------------------------------------- */
.site-nav .search-container {
    white-space: nowrap; /* ป้องกันขึ้นบรรทัดใหม่ */
}

.site-nav .search-container img {
    width: 18px;
}


.site-nav form.site-search input {
    width: 200px;
    height: 40px;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 50px;
    padding: 5px;
    border: 1px solid #000000;
}

.site-nav form.site-search input:focus {
    width: 400px;
}

.site-nav form.site-search button{
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: none;
    padding: 5px;
    margin-left: 10px;
}

.site-nav form.site-search button:hover{
    background-color: orange;
    cursor: pointer;
}

.site-nav .site-basket {
    cursor: pointer;
}