.register-form {
    width: 519px;
    height: 645px;
    border-radius: 34px;
    background: #F3D708;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 200px;
    margin-top: 100px;

}

.sign-up-text {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center
}

.button-sign-up {
    width: 335px;
    height: 59px;
    border-radius: 10px;
    background: #FF6B35;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.decoration {
    width: 82px;
    height: 82px;
    flex-shrink: 0;
    stroke-width: 10px;
    stroke: rgba(243, 215, 8, 0.51);

}

.change-to-login-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.click-login-text {
    color: #FF6B35;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}